<div class="container mt-5">
    <h2 *ngIf="newProperty.propertyId; else addNewPropertyHeading">Update Property</h2>
    <ng-template #addNewPropertyHeading>
      <h2>Add a New Property</h2>
    </ng-template>
  
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="address">Address</label>
            <input type="text" id="address" [(ngModel)]="newProperty.address" name="address" class="form-control" required>
        </div>
        
        <div class="form-group">
            <label for="yearOfConstruction">Year of Construction</label>
            <input type="number" id="yearOfConstruction" [(ngModel)]="newProperty.yearOfConstruction" name="yearOfConstruction" class="form-control" required>
        </div>
        
        <div class="form-group">
            <label for="propertyType">Property Type</label>
            <select id="propertyType" [(ngModel)]="newProperty.propertyType" name="propertyType" class="form-control" required>
              <option value="HOUSE">House</option>
              <option value="APARTMENT">Apartment</option>
              <option value="DETACHED_HOUSE">Detached house</option>
              <option value="MAISONETTE">Maisonette</option>
            </select>
        </div>
        
        <!-- Conditionally set the button label -->
        <button type="submit" class="btn btn-primary mt-3">{{ newProperty.propertyId ? 'Update Property' : 'Add Property' }}</button>          
    </form>
  
    <hr>
  
    <h2>Your Properties</h2>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Address</th>
          <th>Year of Construction</th>
          <th>Property Type</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let property of properties">
          <td>{{ property.propertyId }}</td>
          <td>{{ property.address }}</td>
          <td>{{ property.yearOfConstruction }}</td>
          <td>{{ property.propertyType }}</td>
          <td>
            <button class="btn btn-warning btn-sm" (click)="editProperty(property)">Edit</button>
            <button class="btn btn-danger btn-sm" (click)="deleteProperty(property.propertyId)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
</div>